# =========================
# Node.js
# =========================
**/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment
# =========================
**/.env
**/.env.*

# =========================
# Build
# =========================
**/dist/
**/build/

# =========================
# Uploads
# =========================
**/uploads/

# =========================
# Logs
# =========================
**/*.log
logs/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Python
# =========================
**/.venv/
__pycache__/

# =========================
# Graphify
# =========================
**/graphify-out/
**/.graphify*
.agent/
.planning/

# =========================
# Zip
# =========================
*.zip

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Prisma
# =========================
**/prisma/dev.db